<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Online Code Editor</h1>

    <h2>Olnine Users : <span id="users-quantity">0</span></h2>

    <script>
      const socket = io("http://localhost:3000");

      socket.on("user-join", (quantity) => {
        console.log("user-join", quantity);
        document.getElementById("users-quantity").innerText = quantity;
      });

      socket.on("user-leave", (quantity) => {
        console.log("user-leave", quantity);
        document.getElementById("users-quantity").innerText = quantity;
      });
    </script>
  </body>
</html>
